@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poiret+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background-color:rgb(53, 104, 41)
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;

}
.box{
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 
                0 32px 64px -48px rgba(0,0,0,0.5);
}
.form-box{
    width: 450px;
    margin: 0px 10px;

}
.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 2 px solid #000000;
    margin-bottom: 10px;
}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;

}
.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    outline: none;
}
.button{
    height: 35px;
    background: rgba(45, 122, 58, 0.808);
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}
.submit{
    width:100%
}
.links{
    margin-bottom: 15px;
}

/*Home test*/

.nav{
    background: #5fc751;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
}
.logo{
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    color: #0f3816;
}
.logo a{
    text-decoration: none;
    color: #703030;
}
.right-links a{
    padding: 0 10px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.main-box{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.main-box .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom{
    width:100%;
    margin-top: 20px;
}
@media only screen and (max-width:840px){
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box{
        margin: 10px 10px;
    }
    .bottom{
        margin-top: 0;
    }
}
.message{
    text-align: center;
    background: #a01010;
    padding: 15px 0px;
    border:1px solid #cf1b0b;
    border-radius: 5px;
    margin-bottom: 10px;
    color: rgb(213, 76, 76);
}