<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>
            Login
        </title>
    </head>

    <body>
        <main class="container h-screen flex flex-col items-center justify-center">
            <div id="output" class="text-3xl"></div>
        </main>
        <form action="/homepage/">
            <input type ="submit" value="Sign in with face recognition" />
        </form>
        <button>
            <a href='/homepage/'>Sign in with face recognition</a>
        </button>
    </body>
</html>