/* Body styles */
body {
  background-color: #292929;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.topbarheader {
  background-color: rgb(207, 45, 45);
  padding: 40px;
  text-align: left;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
}

/* Search bar container styles */
.search-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 20px;
  background-color: #0001;
  border-radius: 10px;
}

/* Search wrapper styles */
.search-wrapper {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-weight: bold;
  margin: 5px;
  width: 100%;
}

/* Input styles */
input {
  font-size: 1rem;
  background-color: #313131;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

input::placeholder {
  color: #888;
}

/* Search button styles */
.search-button {
  background-color: #343434;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.search-button:hover {
  background-color: #242424;
}

/* Back button styles */
.backbutton {
    background-color:  rgb(207, 45, 45);
    padding: 10px;
}
.backbutton button {
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
  }
  
  .backbutton button:hover {
    background-color: #242424;
  }
  
  /* Back button styles */
  .backbutton button {
    font-size: 1rem;
    background-color: #343434;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 10px;
    font-weight: bold;
  }
  
  .backbutton button:hover {
    background-color: #ffffff;
    color: #000;
  }

.song-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 25px;
  margin-top: 1rem;
  margin: 20px;
  background-color: #0002;
  border-radius: 10px;
  padding: 20px;
}


/* Individual song card styles */
.song_card {
  width: 200px; 
  background-color: #0002;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  color: #fff;
  flex-shrink: 0; /* Prevent cards from shrinking too much */
  cursor: pointer;
  padding-bottom: 15px;
}

.song_card:hover {
  transform: scale(1.05);
  box-shadow: 0 0px 15px rgba(255, 0, 0, 0.1);
}

/* Song card header styles */
.song_header {
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

/* Song card body styles */
.song_body {
  padding: 10px;
  font-size: 0.9em;
  color: #888;
}

/* Hide class */
.hide {
  display: none;
}

/* Song card image styles */
.song_card > img {
  width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 5px solid rgb(207, 45, 45);
}

