* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
  font-family: 'Montserrat', sans-serif;
}

.search-bar-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px;
  margin: 5px;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-weight: bold;
}

input {
  font-size: 1rem;
  background-color: #343434;
  color: #fff;
  border-radius: 10px;
}

.backbutton button {
  font-size: 1rem;
  background-color: #343434;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: bold;
}

.backbutton button:hover {
  background-color: #242424;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  width: 80%;

}

input {
  font-size: 1rem;
  background-color: #343434;
  color: #fff;
  border-radius: 10px;
}

.song-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 70px;
  margin-top: 1rem;
  margin: 15px;
}

.song_card {
  background-color: #323232;
  padding: .5rem;
  cursor: pointer;
  transition: all ease 0.4s;
  width: 160px;
  padding: 20px;
  height: 225px;
}

.song_card:hover {
  background-color: #242424;
}

.song_card > .song_header {
  margin-bottom: .25rem;
  color: #fff;
  font-weight: bold;
}

.song_card > .song_body {
  font-size: .8rem;
  color: #777;
  font-weight: bold;
}

.hide {
  display: none;
}

.song_card > img {
  width: 158px;
  height: 158px;
  display: block;
  margin-bottom: 0.5rem;
  border: 1px solid #000000;
}

